footer.footer
  div.jumbotron.jumbotron-fluid
    hr.my-4
    .footer_logo: img(src='/img/logo-full.png' alt='Traveler logo')
    div.container
      ul.footer
        li: a(href='#') Про нас
        li: a(href='#') Контакти
        li: a(href='#') Документи
        li: a(href='#') Додаток
        li: a(href='#') Вакансії
      p.credits &copy; Маковська Ольга ІПЗ-19-1 Курсовий проект 2 курс